* {
	box-sizing: border-box;
}

body 



#background {
	background-repeat: no-repeat;
	background-size: 70%;
	max-width: 700px;
}
 
#car-form {
	float: right;
}

h3 {
	color: navy;
	text-align: center;

}

input {
	align-content: center;
}

#carsView {
	float: left;

}


